@import "tailwindcss";

body {
  background-color: var(--background);
}
:root {
  --background: #121212;
  --banner-intro: #707070; 
}
/* ! ==================== */
.link {
  color: #959595;
  font-size: 18px;
  font-weight: bold;
  transition: linear 0.3s;
}
.link:hover {
  color: #fd6f00;
}
/* banner section  */
.intro {
  color: var(--banner-intro);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3%;
}
.name{
  color:var(--banner-intro);
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3%;
}
 
